<div class="list-wrapper">
  <div class="item" *ngFor="let item of itemList"
    style="display: flex; margin-top: 10px">
    <div class="left-side">
      <div class="checked-icons">
        <img src="../../assets/icons/checked.png"
        alt="task completed"
        *ngIf="item.ready"
        (click)="emitItem(item)">
        <img src="../../assets/icons/unchecked.png"
        alt="task not completed"
        *ngIf="!item.ready"
        (click)="emitItem(item)">
      </div>
      <p>{{item.title}}</p>
    </div>
    <div class="remove-icon right-side">
      <img
      src="../../assets/icons/remove.png"
      alt="Remove Button"
      (click)="emitId(item)">
    </div>
  </div>
</div>

